numpy==1.26.4
Pillow
torch==2.1.2
torchvision
torch-geometric
spconv-cu121
addict
einops
ftfy
matplotlib
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
plyfile==1.0.3
pyquaternion
SharedArray
timm
tqdm
wandb
